* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(./images/bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  /* z-index: 0;
    display: flex; */
}

/* .navbar {
} */

.myImage {
  z-index: 1;
}

.details {
  margin-top: -48px;
}

.school-logo {
  height: 16vh;
}

.school1,
.school2,
.school3,
.school4 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.studyDuration {
  width: fit-content;
  color: #999;
}
